@import "reset.css";
html{
    height: 100%;
}
body{
    background-color: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 4%;
    overflow: hidden;
    height: 100%;
}
body * { touch-action: none; }

.main-page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

div.draw {
    width: 60%;
    height: 80%;
    box-sizing: border-box;
    text-align: center;
    float: right;
}
div.image-test {
    width: 40%;
    float: left;
    box-sizing: border-box;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}
.upload-button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;

    margin: auto;
}

.upload-container {
    text-align: center;
    margin-top: 10px;
}

#chooseFile {
    width: 0px;
}

label {
    cursor: pointer;
    font-size: 1em;
}

.file-input {
    visibility: hidden;
}

.fit-picture {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.canvas{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls{
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    display: flex;

    align-items: center;
    /* flex-direction: row; */
}
.jsRange {
    margin-left: auto;
    /* margin-right: 30px; */
}
.controls_btns {
    display: flex;
    height: 30px;
    margin-right: 30px;
}
.controls_btns button{
    float: left;
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 7px 2px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    margin-right: 5px;
}

.controls_btns button:active{
    transform: scale(0.95);
}

.controls .controls_colors{
    margin-left: 20px;
}

.controls_colors .controls_color{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

    margin-left: 5px;
    margin-right: 5px;
    float: left;
}


.jspsych-btn {
    margin-bottom: 10px;
  }